.customTooltip {
    background-color: #1a252f;
    border: 1px solid #5d5d5d;
    color: #fff;
    font-size: 0.8em;
    line-height: 1.4;
    max-width: 220px;
    padding: 0.6em 1em;
    pointer-events: none;
    position: absolute;
    z-index: 10100;
}

.modalContent {
    display: flex;
    flex-direction: column;
}