.legendContainer {
    font-size: 0.86em;
    margin-bottom: 1em;
}

.linkStyle a {
    font-size: 0.96em;
}

.listContainer {
    font-size: 0.9em;
    margin-bottom: 0.6em;
}

.textStyle {
    color: #5d5d5d !important;
}