.content {
    display: flex;
    flex-direction: column;
    /* Subtract height of main navbar */
    height: calc(100vh - 60px);
    width: 100%;
}

.mapLegendContainer {
    background-color: #fff;
    position: absolute;
    right: 100px;
    top: 100px;
    width: 200px;
}

.tableContainer {
    display: block;
    height: 100%;
    min-height: 0;
    overflow-x: auto;
    overflow-y: auto;
    position: relative;
    width: 100%;
    transform: translate3d(0,0,0);
    -webkit-transform: translate3d(0,0,0);
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column-reverse;
        height: 45vh;
    }
}