.buttonContainer {
    margin-left: 0.1em;
}

.buttonGrid {
    display: flex;
    margin-top: 1em;
}

.contentSection {
    margin: 20px 0;
}

.iconContainer {
    align-items: baseline;
    display: flex;
    flex-direction: row;
}

.infoSubText {
    font-size: 0.95em;
    font-weight: 400;
}

.stationCover {
    height: 150px;
    object-fit: cover;
    margin-bottom: -10px;
    width: 100%;
}

.stationCover:hover {
    cursor: pointer;
}

.stationHeader {
    margin: 14px 0 4px 0;
    word-break: break-all;
}

.stationSubText {
    color: #767676;
    font-size: 0.82em;
    font-weight: 600;
    margin: 0.4em 0.4em 0.4em 0;
    text-transform: uppercase;
}

.tagContainer {
    margin-right: 0.24em;
}

.topContainer {
    align-items: center;
    display: flex;
    justify-content: space-between;
}