.content {
    display: flex;
    flex-direction: column;
    /* Subtract height of main navbar */
    height: calc(100vh - 60px);
    width: 100%;
}

.mapLegendContainer {
    background-color: #fff;
    position: absolute;
    right: 100px;
    top: 100px;
    width: 200px;
}

@media screen and (max-width: 800px) {
    .content {
        flex-direction: column-reverse;
        height: 45vh;
    }
}