.buttonContainer {
    display: inline-flex;
    flex-wrap: nowrap;
    align-items: center;
    margin-top: 0.25em;
}

.customTooltip {
    position: absolute;
    background-color: #1a252f;
    color: #fff;
    font-size: 0.8em;
    border: 1px solid #5d5d5d;
    padding: 0.6em 1em;
    line-height: 1.4;
    z-index: 9000;
    pointer-events: none;
}