.appContainer {
    width: 100vw;
    height: 100vh;
}

.mainGrid {
    display: grid;
    grid-template-rows: 60px auto;
    grid-template-columns: 30% 70%;
    height: 100%;
}

.header {
    grid-column-start: 1;
    grid-column-end: 2;
}

.leftContainer {
    grid-column-start: 1;
    grid-column-end: 1;
    background-color: #f4f2f2;
    padding: 1.2em 26px 26px 26px;
    min-width: 300px;
}

.rightContainer {
    grid-column-start: 2;
    grid-column-end: 2;
    background-color: #fff;
    padding: 1.2em 26px;
}

.siteMapContainer {
    margin: 1em 0 1.8em 0;
}

.stationName {
    margin-bottom: 8px;
    font-size: 1.2em !important;
    line-height: 1.35;
}

.buttonContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1.4em;
}

.leftContainer h2 {
    margin-top: 6px;
    font-size: 1.2em !important;
}

.rightContainer h2 {
    margin-top: 6px;
    font-size: 1.2em !important;
}

@media screen and (max-width: 970px) {
    .mainGrid {
        display: grid;
        grid-template-areas:
            'header'
            'left'
            'right';
        grid-template-rows: 60px auto auto;
        grid-template-columns: 1fr;
        height: auto;
    }

    .header {
        grid-area: header;
    }

    .leftContainer {
        grid-area: left;
    }
    
    .rightContainer {
        grid-area: right;
        overflow-x: auto;
    }
}