.fsContainer {
    display: block;
    position: fixed;
    z-index: 900;
    top: 60px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color:#20639b;
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.iconWrapper {
    margin: 1.4em;
}

.textWrapper {
    color: #fff;
    font-size: 1em;
    font-weight: 400;
}

.textWrapper > div {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}
