.appContainer {
    width: 100%;
    height: calc(100% - 60px);
    position: absolute;
    overflow-y: auto;
}

.mainFlex {
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

@media screen and (max-width: 800px) {
    .mainFlex {
        flex-wrap: wrap;
    }
}