.appContainer {
    width: 100%;
    height: calc(100% - 60px);
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 60px;
}

@media screen and (max-width: 800px) {
    .appContainer {
        flex-direction: column;
    }
}