.menuContainer {
    display: block;
}

.parent {
    display: grid;
    grid-template-columns: 64px auto 280px ;
}

.textContainer {
    padding: 0 1.4em 0 1.1em;
}

@media screen and (max-width: 800px) {
    .menuContainer {
        display: none;
    }
    .parent {
        grid-template-columns: 64px auto;
    }
}
