.card {
    display: flex;
    flex-direction: row;
    margin-top: -1px;
    margin-bottom: 0.8em;
    border: 1px solid rgba(0,0,0,.125);
    height: auto;
}

.leftContainer {
    color:#707070;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .75rem;
}

.waterbody {
    background-color: #247ba0;
}

.station {
    background-color: #f15f2b;
}

.cardBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 8px 14px;
}

.cardTitle {
    font-size: 0.9em;
    font-weight: 600;
}