.card {
    display: flex;
    flex-direction: row;
    margin-top: -1px;
    margin-bottom: 0.8em;
    border: 1px solid rgba(0,0,0,.125);
    height: auto;
}

.cardBody {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 12px 14px;
}

.cardTitle {
    font-size: 0.85em;
    font-weight: 600;
    line-height: 1.3em;
}

.leftContainer {
    color:#707070;
    font-weight: 500;
    text-transform: uppercase;
    font-size: 1rem;
    padding: .75rem;
}

.listingList {
    margin: 0.6em 0 0.3em 0;
    padding-left: 1em;
}

.listingList li {
    padding-left: 0em;
}

.listingWrapper {
    margin-top: 0.35em;
    font-size: 0.8em;
    line-height: 1.46em;
}

.smallText {
    font-size: 0.8em;
    line-height: 1.3em;
}

.waterbody {
    background-color: #247ba0;
}