.axisBlue text {
    fill: #1f77b4;
    font-weight: 600;
}

.axisOrange text {
    fill: #ff7f0e;
    font-weight: 600;
}

.axisGreen text {
    fill: #2ca02c;
    font-weight: 600;
}

.axisPurple text {
    fill: #af7aa1;
    font-weight: 600;
}

.customTooltip {
    position: absolute;
    background-color: #1a252f;
    color: #fff;
    font-size: 0.8em;
    border: 1px solid #5d5d5d;
    padding: 0.6em 1em;
    line-height: 1.4;
    z-index: 9000;
    pointer-events: none;
}

.legendContainer {
    margin-left: 10px;
}

.chartFooter {
    display: flex;
    flex-direction: row;
    flex-wrap: no-wrap;
    padding: 1.1em;
}

.analyteSection {
    display: flex;
    justify-content: center;
    width: 100%;
}

@media screen and (max-width: 700px) {
    .chartFooter {
        flex-wrap: wrap;

    }
    .analyteSection {
        justify-content: center;
    }
}