.dataTable {
    width: 100%;
    border-spacing: 0;
    border: 0;
    font-size: 0.9em;
}

.dataTable th {
    text-align: left;
    font-weight: 600;
    padding: 10px;
    color: #103c68;
    background-color: #e3e4e6;
    border: solid 1px #e3e4e6;
}

.dataTable td {
    padding: 10px;
    border-top: solid 1px #e3e4e6;
}

.trendWrapper {
    display: flex;
    align-items: center;
}

.paginationContainer {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 20px 0;
    background-color: #e3e4e6;
    padding: 10px 14px;
    font-size: 0.9em;
}

/* needed for custom select arrow */
.selectWrapper {
    position: relative;
    background-color: #f0f0f0;
    width: auto;
    max-width: 100%;
}

.selectWrapper:after {
    position: absolute;
    content: '▼';
    pointer-events: none;
    position: absolute;
    font-size: 0.6rem;
    right: 8px;
    top: 35%;
    margin-top: -1px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
}

.paginationSelect {
    max-width: 100%;
    border-radius: 0;
    padding: 4px 12px 4px 5px;
    border: none;
    background-color: transparent;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    font-size: 0.9em;
}

.navigationWrapper {
    display: flex;
    align-items: center; 
    justify-content: center;
}

.paginationButton {
    display: inline-block;
    border-radius: 0;
    padding: 0;
    border: 0;
    padding: 1px;
}

.paginationButton svg {
    display: inline-block;
    vertical-align: middle;
}
