.customTooltip {
    position: absolute;
    background-color: #1a252f;
    color: #fff;
    font-size: 0.8em;
    border: 1px solid #5d5d5d;
    padding: 0.6em 1em;
    line-height: 1.4;
    z-index: 100;
}

.axisLabel {
    font-size: 0.9em;
    color: #747474;
}

.lineLabel {
    font-size: 0.9em;
    color: #747474;
    z-index: 50;
}