.customAccordion {
    border-radius: 0 !important;
}

.customTitle {
    font-weight: 500 !important;
    /* background-color: #f0f1f1 !important; */
}

.customAccordion p {
    font-size: 0.9em !important;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    color: #5d5d5d;
}

.leadingIcon {
    margin-right: 0.6em !important;
}

.pLabel {
    margin: 0.4em 0;
}

.pLabel span {
    font-size: 0.84rem;
    font-weight: 600;
}