.buttonContainer {
    display: flex;
    justify-content: flex-end;
    margin-top: 1em;
}

.customAccordion {
    border-radius: 0 !important;
    margin-bottom: 1em;
}

.customTitle {
    font-weight: 500 !important;
    background-color: #f0f1f1 !important;
}

.customAccordion p {
    font-size: 0.9em !important;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
    color: #5d5d5d;
}

.leadingIcon {
    margin-right: 0.6em !important;
}

.pLabel {
    margin: 1em 0 0.4em 0;
    font-size: 0.84rem;
    font-weight: 600;
}

.analyteWrapper {
    display: flex;
    flex-wrap: nowrap;
}