.cardContainer {
    width: 100%;
    background-color: #f2f8f9;
    padding: 1em 1.1em;
}

.cardTitle {
    margin: 0;
    font-size: 1em;
}

.cardContainer p {
    margin: 0;
    font-size: 0.87em;
    font-weight: 400;
}

.iconWrapper {
    margin: 4px 1.1em 0 0;
}
