.tag {
    display: flex;
    justify-content: center; 
    align-items: center;
    width: 50px; 
    background-color: #0BACA1; 
    color: #fff;
    padding: 0 4px;
}

.tag:hover {
    cursor: pointer;
}

.tagText {
    font-weight: 300;
    font-size: 0.78em;
}