.boxContainer {
    background-color: #e3e4e6;
    padding: 0.8em;
    font-size: 1em;
    margin-bottom: 0;
}

.customSelect {
    width: 100%;
    box-sizing: border-box;
}

.radioWrapper {
    margin: 8px 0 0 0;
}

.radioWrapper label {
    font-size: 0.85em;
}

.titleWrapper {
    display: flex;
    justify-content: space-between;
}

.rowButton {
    margin-top: 0.25em !important;
}