.card {
    background-color: #e0e1e2;
    padding: 1em;
    margin: 0.8em 0;
}

.programName {
    font-weight: 600;
    font-size: 1em;
    margin-bottom: 0.4em;
    color: #103c68;
}

.programDescription {
    font-weight: 400;
    font-size: 0.9em;
    color: #383838;
}