.loaderContainer {
    align-items: center;
    border: 1px solid #6e6e6e;
    color: #808080;
    display: flex;
    font-size: 13px;
    height: 34px;
    justify-content: space-between;
    padding: 2px 8px;
    width: 100%;
};