.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    margin: 1.2em;
}

.loadText {
    font-size: 0.88em;
    font-weight: 400;
    color: #5d5d5d;
}

/**
  * Scaling dots
  *
  * @author jh3y
  * https://github.com/jh3y/whirl/blob/dist/css/scalingDots.css
*/

.loader,
.loader:after {
  border-radius: 50%;
  width: 10em;
  height: 10em;
}
.loader {
  margin: 0 auto 12px auto;
  font-size: 3.6px;
  position: relative;
  text-indent: -9999em;
  border-top: 0.86em solid #e0e1e2;
  border-right: 0.86em solid #e0e1e2;
  border-bottom: 0.86em solid #e0e1e2;
  border-left: 0.86em solid #5d5d5d;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
