.infoIconWrapper {
    align-items: center; 
    display: 'flex';
    height: '34px';
    justify-content: 'center';
    width: 34px;
}

.logo {
    vertical-align: middle;
    height: 34px;
    margin: auto 16px auto 0;
}

.navBar {
    display: flex;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 60px;
    background-color: #103350;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 8px 26px;
}

.navMenu > ul {
    padding: 0;
    margin-right: 15px;
    border: 0;
}

.navMenu > ul > li {
    display: inline-block;
    list-style: none;
    vertical-align: baseline;
    color: inherit;
    font-size: 1em;
    font-weight: 400;
    height: 60px;
    margin: 0;
    border: 0;
    line-height: 60px;
    padding: 0;
}

.navTitle {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
}

.rightContainer {
    display: flex;
}

.searchContainer {
    border: 1px solid #2e4558;
    margin-right: 0.6em;
    width: 250px;
}

.titleContainer {
    height: 40px;
    display: flex;
    align-items: center;
}


@media screen and (max-width: 800px) {
    .infoIconWrapper {
        display: none;
    }
    .logo {
        display: none;
    }
    .navMenu {
        display: none;
    }
    .navTitle {
        font-size: 1.05em;
    }
    .searchContainer {
        width: 150px !important;
    }
}
