.iconWrapper {
    align-items: center; 
    display: flex;
    height: 35px;
    justify-content: center;
    margin-left: 0.6em;
    width: 35px;
}

.logo {
    vertical-align: middle;
    height: 35px;
    margin: auto 16px auto 0;
}

.navBar {
    display: flex;
    position: absolute;
    width: 100vw;
    left: 0;
    top: 0;
    height: 60px;
    background-color: #103350;
    color: #fff;
    align-items: center;
    justify-content: space-between;
    z-index: 100;
    padding: 8px 26px;
}

.navTitle {
    color: #ffffff;
    font-size: 1.2em;
    font-weight: 600;
}

.rightContainer {
    display: flex;
}

.searchContainer {
    border: 2px solid #2e4558;
}

.titleContainer {
    align-items: center;
    display: flex;
    height: 40px;
    margin-right: 1em;
}


@media screen and (max-width: 800px) {
    /*
    .iconWrapper {
        display: none;
    }
    */
    .logo {
        display: none;
    }
    .navBar {
        padding: 8px 16px;
    }
    .navTitle {
        font-size: 1em;
    }
    .searchContainer {
        width: 182px !important;
    }
}
