.searchContainer {
    background-color: #e5e5e5;
    padding: 1.1em;
    font-size: 1em;
}

.searchWrapper {
    display: flex;
    flex-direction: row;
    margin-top: 12px;
}

.emphasis {
    font-weight: 600;
}