.parent {
    padding: 1rem;
    line-height: 0;
}

.imageContainer {
    width: 100%;
    margin: 0;
    overflow: hidden;
}

.imageCard {
    width: 100%;
    transition: transform .5s ease;
}

.contentContainer {
    height: 100%;
    margin: 0;
    border: 2px solid #969696;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.15);
    transition: transform .5s ease;
}

.contentContainer:hover {
    cursor: pointer;
    transform: scale(1.04);
}

.contentContainer:hover .imageCard {
    -webkit-filter: brightness(100%);
    /* transform: scale(1.1); */
}

.textContainer {
    padding: 20px;
    margin: 0;
}

.textContainer h2 {
    font-size: 1.1em !important;
    margin-bottom: 5px;
}

.textContainer p {
    font-size: 0.9em;
}

@media (min-width: 40rem) {
    .parent {
      width: 50%;
    }
}

@media (min-width: 56rem) {
    .parent {
      width: 33.3333%;
    }
}