.fsContainer {
    display: block;
    position: fixed;
    z-index: 900;
    top: 60;
    left: 0;
    width: 100vw;
    height: calc(100vh - 60px);
    background-color: rgba(0, 0, 0, 0.7);
}

.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    color: #fff;
}

.iconWrapper {
    margin: 1.4em;
}

.textWrapper {
    font-size: 1em;
    font-weight: 400;
    color: #fff;
}
