.centerImage {
    margin: auto;
    max-height: 100%;
    max-width: 100%;
    overflow: auto;
    object-fit: contain;
    -o-object-fit: contain;
    position: fixed;
    z-index: 10010;
}

.closeIcon {
    color: #fff;
    cursor: pointer;
    font-size: 2em;
    margin: 0.8em;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 10020; 
}

.closeIcon:hover {
    color: #767676;
}

.expandIcon {
    color: #fff;
    cursor: pointer;
    margin: 1em;
    position: absolute;
    opacity: 80%;
    right: 0;
    top: 0;
}

.fsWindow {
    align-items: center;
    background-color: rgba(12, 13, 14, 0.9);
    bottom: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    margin: 0;
    position: fixed;
    right: 0;
    top: 0; 
    width: 100vw;
    z-index: 10000; /* Must have a high value for the full screen to show above all elements, including the main container scrollbar in Safari */
}

.wrapper {
    display: inline-block;
    position: relative;
    width: 100%;
}