.card {
    display: flex;
    border: 1px solid #d6d6d6;
    padding: 1em;
}

.card:hover {
    background-color: #e9ebeb;
    cursor: pointer;
}

.left {
    flex-shrink: 0;
}

.right {
    flex-shrink: 1;
    margin-left: 1.3em;
}

.card h4 {
    display: block;
    font-size: 1.05em;
    font-weight: 600;
    line-height: 1.4em;
    margin-bottom: 0.3em;
}

.card p {
    display: block;
    font-size: 0.95em;
}