.container {
    background-color: #fff;
    border: 1px solid #b6b6b6;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    font-size: 0.9em;
    max-width: 205px;
    width: 205px;
}

.content {
    padding: 1em;
}

.contentWrapper {
    max-height: 280px;
    overflow-y: auto;
}

.expandArrow:hover {
    cursor: pointer;
}

.header {
    background-color: #fff;
    color: #616161;
    display: flex;
    font-weight: 600;
    justify-content: space-between;
    padding: 0.3em 0.6em;
}

@media screen and (max-width: 800px) {
    .contentWrapper {
        max-height: 180px;
    }
}

