.container {
    width: 65vw;
    /* Subtract 60px for the main navbar */
    height: calc(100vh - 60px);
}

@media screen and (max-width: 800px) {
    .container {
        width: 100vw;
        height: 40vh;
    }
}