.container {
    width: 62vw;
    /* Subtract 60px for navbar (navbar.js) and 50px for sub-navbar (panel-menu.js) */
    height: calc(100vh - 60px - 50px);  
}

@media screen and (max-width: 800px) {
    .container {
        width: 100vw;
        height: calc(45vh - 44px);
    }
}