.mapContainer {
    height: calc(100% - 60px);
    top: 60px;
    order: 1;
    flex-basis: 45%;
    z-index: 2;
}

.mainContainer {
    height: 100%;
    background-color: #fff;
    top: 60px;
    order: 2;
    flex-basis: 55%;
    overflow-y: auto;
    z-index: 50 !important;
}

.infoContainer {
    height: auto;
    max-width: 823px;
    background-color: #fff;
    margin: 0;
    padding: 20px 20px 12px 20px;
}

.infoContainer p {
    font-size: 0.95rem;
}

.twinContainer {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.twin {
    flex: 1;
}

@media screen and (max-width: 800px) {
    .mapContainer {
        flex-basis: 40%;
    }
    .mainContainer {
        flex-basis: 60%;
    }
}