.leftContainer {
    height: calc(100% - 60px);
    top: 60px;
    order: 1;
    flex-basis: 30%;
    z-index: 2;
    background-color: #f4f2f2;
    padding: 1.2em 26px;
}

.rightContainer {
    height: calc(100% - 60px);
    background-color: #fff;
    top: 60px;
    order: 2;
    flex-basis: 70%;
    overflow-y: auto;
    z-index: 50 !important;
    padding: 1.2em 26px;
}

.titleContainer {
    margin-bottom: 20px;
}

.siteMapContainer {
    margin: 10px 0 1.2em 0;
}

.stationName {
    margin: 10px 0 8px 0;
    font-size: 1.3em;
}

.leftContainer h2 {
    font-size: 1.2em !important;
}

.rightContainer h2 {
    margin-top: 10px;
    font-size: 1.2em !important;
}