.button {
	background-color: #fff;
    border: 2px solid #5d5d5d;
    border-radius: 0px;
	-webkit-border-radius: 0px;
	-moz-border-radius: 0px;
    text-indent: 0;
	display: inline-block;
    color: #5d5d5d;
	font-size: 0.9em;
	font-weight: 600;
	font-style: normal;
	text-decoration: none;
	text-align: center;
    padding: 4px 8px;
}

.button:hover {
	color: #5d5d5d;
}